# Required variables
resource_group_name = "private-aks-rg"
ssh_key_file = "~/.ssh/id_rsa"

## VALUES BELOW ARE DEFAULT VALUES. UNCOMMENT AND CHANGE TO OVERRIDE

# todo check the names
location = "eastus2"
cluster_dns_prefix = "spcsprivate"
cluster_name = "spc-aks-private"

cluster_identity = "spc-private-aks-cluster"
jumpbox_name = "spc-vm-jumpbox"
jumpbox_admin_name = "azureuser"
jumpbox_size = "Standard_D2s_v3"


vnet_name = "spc-private-aks"
subnet_name = "spc-subnet-private-aks"
vnet_cidr = "172.16.0.0/16"
subnet_cidr = "172.16.0.0/20"

cluster_docker_bridge_address = "172.17.0.1/16"
cluster_dns_service_ip_address = "172.16.16.254"
cluster_service_ip_range = "172.16.16.0/24"

bastion_public_ip_name = "spc-bastion-ip-aks"
bastion_name = "spc-bastion-private-aks"
bastion_subnet_cidr = "172.16.255.0/24"
